AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CONTAINER_TYPE_ID=
AZURE_SYSTEM_CONTAINER_ID=
AZURE_KEY_VAULT_URI=
SHAREPOINT_HOSTNAME=
APP_BASE_URL=http://localhost:3000
APPLICATIONINSIGHTS_CONNECTION_STRING=
SESSION_TTL_SLIDING_MIN=480
SESSION_TTL_ABSOLUTE_MIN=1440
LOG_LEVEL=info
NODE_ENV=development
PORT=3000
